<h1>Individual client page</h1>

<h2>Client: <%= @client.name() %></h2>

<h2>Stylist: <%= @stylist.name() %></h2>


<p><a class="green" href="/clients/<%= @client.id() %>/edit">Update</a></p>

<hr>

<div class='container'>
  <button><a href="/clients/new">Add new client</a></button>
  <button><a href="/stylists/new">Add new stylist</a></button>
</div>
