<h1>Add new client:</h1>

<form action="/clients" method="post">

  <label for="stylist_id">Select a Stylist</label>
  <select id="stylist_id" name="stylist_id" type='text' required>
    <% @stylists.each() do |stylist| %>
      <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
    <% end %>
  </select>

  <label for="name">Client:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add client</button>
</form>
