<% if @stylists.any?() %>
<h2>Clients</h2>
<% if @clients.any?() %>

<ul>
  <% @clients.each() do |client| %>
  <li><%= client.name() %></li>
  <% end %>
</ul>
<% else %>
<h2>No clients yet</h2>
<% end %>

<h3>Add New Client:</h3>
<form action="/clients" method="post">
  <label for="client-name">Client Name</label>
  <input id="client-name" name="client-name" type="text" required>
  <label for="stylist_id">Select a Stylist</label>
  <select id='stylist_id' name='stylist_id' type='text' required>
    <% @stylists.each() do |stylist| %>
    <option value="<%= stylist.id()%>"> <%= stylist.name() %></option>
    <% end %>
  </select>
  <button type="submit">Add Client</button>
</form>
<% else %>
<p>In order to add clients, we first need stylists: <a href="/stylists">Add a Stylist</a></p>
<% end %>

<h3>Add New Stylist:</h3>
<a href="/stylists">Add a Stylist</a></p>
