<h1>Welcome Ruby Hair Salon</h1>

<div class='container'>
  <button><a href="/stylists/new">Add new stylist</a></button>
  <button><a href="/clients/new">Add new client</a></button>
  <hr>
  <button><a href="/stylists">View all stylists</a></button>
  <button><a href="/clients">View all clients</a></button>
</div>
