<h1>Current Stylists in Database:</h1>


<% if @stylists.any?() %>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
      <% end %>
  </ul>

<% else %>

  <p>There are no stylists added yet</p>

<% end %>

<div class='container'>
  <button><a href="/clients/new">Add new client</a></button>
  <button><a href="/stylists/new">Add new stylist</a></button>
  <hr>
  <button><a href="/clients">View all client</a></button>
  <button><a href="/stylists">View all stylists</a></button>
</div>
