<h1>Individual stylist page</h1>

<h2><%= @stylist.name() %></h2>

<% if @clients.any?() %>
  <h3>Here are all the clients belonging to this stylist</h3>

  <ul>
    <% @clients.each() do |client| %>
      <li><%= client.name() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are currently no clients for this stylist</p>
<% end %>


<p><a class="green" href="/stylists/<%= @stylist.id() %>/edit">Update</a></p>

<div class='container'>
  <button><a href="/clients/new">Add new client</a></button>
  <button><a href="/stylists/new">Add new stylist</a></button>
  <hr>
  <button><a href="/clients">View all client</a></button>
  <button><a href="/stylists">View all stylists</a></button>
</div>
